# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv('/Users/guilhermeoliveira/Desktop/student/student-mat.csv', sep = ';')
df.head()

FileNotFoundError: [Errno 2] File b'/Users/guilhermeoliveira/Desktop/student/student-mat.csv' does not exist: b'/Users/guilhermeoliveira/Desktop/student/student-mat.csv'

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [26]:
stud_alcoh = df.loc[: , "school":"guardian"]
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that captalize strings.

In [27]:
captalizer = lambda x: x.upper()

### Step 6. Capitalize both Mjob and Fjob

In [1]:
stud_alcoh['Mjob'].apply(captalizer)
stud_alcoh['Fjob'].apply(captalizer)

NameError: name 'stud_alcoh' is not defined

### Step 7. Print the last elements of the data set.

In [29]:
stud_alcoh.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [30]:
stud_alcoh['Mjob'] = stud_alcoh['Mjob'].apply(captalizer)
stud_alcoh['Fjob'] = stud_alcoh['Fjob'].apply(captalizer)
stud_alcoh.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,SERVICES,SERVICES,course,other
391,MS,M,17,U,LE3,T,3,1,SERVICES,SERVICES,course,mother
392,MS,M,21,R,GT3,T,1,1,OTHER,OTHER,course,other
393,MS,M,18,R,LE3,T,3,2,SERVICES,OTHER,course,mother
394,MS,M,19,U,LE3,T,1,1,OTHER,AT_HOME,course,father

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [31]:
def majority(x):
    if x > 17:
        return True
    else:
        return False

In [32]:
stud_alcoh['legal_drinker'] = stud_alcoh['age'].apply(majority)
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,course,mother,True
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,course,father,False
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,other,mother,False
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,home,mother,False
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,home,father,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [40]:
def times10(x):
    if type(x) is str:
        return x
    elif type(x) is numpy.int64:
        return 10 * x
    else:
        return

In [42]:
stud_alcoh.applymap(times10).head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,AT_HOME,TEACHER,course,mother,None
1,GP,F,170,U,GT3,T,10,10,AT_HOME,OTHER,course,father,None
2,GP,F,150,U,LE3,T,10,10,AT_HOME,OTHER,other,mother,None
3,GP,F,150,U,GT3,T,40,20,HEALTH,SERVICES,home,mother,None
4,GP,F,160,U,GT3,T,30,30,OTHER,OTHER,home,father,None
5,GP,M,160,U,LE3,T,40,30,SERVICES,OTHER,reputation,mother,None
6,GP,M,160,U,LE3,T,20,20,OTHER,OTHER,home,mother,None
7,GP,F,170,U,GT3,A,40,40,OTHER,TEACHER,home,mother,None
8,GP,M,150,U,LE3,A,30,20,SERVICES,OTHER,home,mother,None
9,GP,M,150,U,GT3,T,30,40,OTHER,OTHER,home,mother,None